<div class="backg">
    <div class="panda">
        <div class="earl"></div>
        <div class="earr"></div>
        <div class="face">
            <div class="blshl"></div>
            <div class="blshr"></div>
            <div class="eyel">
                <div class="eyeball1"></div>
            </div>
            <div class="eyer">
                <div class="eyeball2"></div>
            </div>
            <div class="nose">
                <div class="line"></div>
            </div>
            <div class="mouth">
                <div class="m">
                    <div class="m1"></div>
                </div>
                <div class="mm">
                    <div class="m1"></div>
                </div>
            </div>
        </div>
        
    </div>
</div>
<div class="pawl">
    <div class="p1">
            <div class="p2"></div>
            <div class="p3"></div>
            <div class="p4"></div>
            </div>
        </div>
<div class="pawr">
    <div class="p1">
        <div class="p2"></div>
        <div class="p3"></div>
        <div class="p4"></div>
    </div>
</div>
<div class="handl"></div>
<div class="handr"></div>