<!-- including headers -->
   <%- include("../partials/header") -%>

   <div class="box" id="heading">
    <h1><%= Title %></h1>
   </div>
   
   <div class="box">
    <% listItems.forEach(function(item){ %>
          <form action="/delete" method="post">
            <div class="item">
              <input type="checkbox" value= "<%= item._id %>" name="checkbox" onchange="this.form.submit()">
              <p><%= item.name %></p>
            </div>
            <input type="hidden" name="listName" value="<%= Title %> " >
          </form>
        <% }) %>

        <form class="item" action="/" method="post">
          <input type="text" placeholder="New Item" name="newItem" autocomplete="off">
          <button type="submit" name="list" value= "<%= Title %>" >+</button>
        </form>
   </div>
 
   <%- include("../partials/footer") -%>
<!-- Including footers -->

</html>