<!-- including headers -->
<%- include("../partials/header") -%>
<nav>
    <h1>Not yet Registerd ? <a href="/register">Signup</a></h1>
</nav>
<div class="loginform">
     <div>
      <div class="login">
			
				<i class="fa fa-user" aria-hidden="true">&nbsp;&nbsp;</i><input type="email" placeholder="Email"><br><br>
				<i class="fa fa-unlock-alt" aria-hidden="true">&nbsp;&nbsp;</i><input type="password" placeholder="Password"><br><br>
				<button type="button">Login</button>
			
	</div>
	    
       <!-- Including reactive Panda -->
       <%- include("../partials/panda") -%>
     </div>
</div>

 
<!-- Including JQuery Script -->
<%- include("../partials/script") -%>
<!-- Including footers -->
<%- include("../partials/footer") -%>
